.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.card {
  
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.card-img {
  height: 15rem;
  width: 15rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 10px auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  width: 50%;
}

form img{
  width:100%;
}
form div {
  background-color: #ffffffcc;
  gap: 8px;
}

label {
  font-weight: bold;
  margin-bottom: 4px;
}

input[type="text"],
input[type="file"],
input[type="number"],
input[type="url"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.red-button {
  padding: 10px 46%; /* Adjust padding to center vertically */
  border: none;
  border-radius: 4px;
  background-color: #ff003ce1;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: fit-content; /* Adjust width to fit content */
  margin: auto; /* Center horizontally */
}

.red-button:hover {
  background-color: #ff2054e1;
  color: black;
}

.form-container {
  margin: 1rem 5rem 1.5rem 5rem;
  display: flex;
  flex-direction: column;
 
}

/* Card Container Styling */
.card {
  max-width: 350px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.097);
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #fdf9f9f0;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Image Styling */
.card-img {
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

/* Card Body Styling */
.card-body {
  padding: 20px;
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 20px;
}

/* Button Styling */
button {
  justify-content: center;
  margin-right:4px;
  margin-bottom: 10px;
  font-size: 1rem;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid rgba(14, 3, 3, 0.216);
}

button:hover {
  border: 1px solid rgba(14, 3, 3, 0.622);
}
button .fa-thumbs-up {
  margin-right: 8px;
}

/* Additional Styling for UpvoteCount */
.upvote-count {
  margin-left: 8px;
  font-weight: bold;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-card {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.other-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-label{
  font-weight: 800;
  font-size: 24px;
}