*{margin: 0;
  padding: 0;}
.Listing {
   display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    width: 96vw;
    max-height: 433vh;
  }
  
  .Listing:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .list-img-top {
    width: 45%;
    height: auto;
  }

  .list-img{
    width: 323px;
    height: 400px;
  }
  
  .list-body-box {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .list-title { 
    font-size: 1.5rem;
  }
  
  .list-text {
    margin: 8px 0;
    font-size: 1rem;
    color: #555;
  }
  
  .list-group {
    list-style: none;
    
  }
  
  .list-group-item {
    padding: 8px 16px;
    border-top: 1px solid #ddd;
    background: #fff;
  }

  
  .list-link {
    margin-right: 14px;
    color: #007bff;
    text-decoration: none;
  }
  
  .list-link:hover {
    text-decoration: underline;
  }
  .card-body{
    padding-top: 15px;;
  }
  